.box-warning,.box-body{overflow: hidden;}
.box-warning button.jm_submit{margin-top: 25px;}

/*6/8/14----DieuLinh----admin/expense*/
#jmbalance ul{margin: 0;list-style: none;padding: 0}
#jmbalance ul li{
	line-height: 1.06;
}

#jmbalance ul li#money_in span{color:#2ca9f2 ;}
#jmbalance ul li#money_out span{color:#eb3d3d ;}
#jmbalance ul li.moneytotal span{color:#75c900;}
#jmbalance ul li span{
    color: #606060;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

#jmbalance ul li span.text{width: 30%}
#jmbalance ul li span.number{
    padding-right: 10px;
    text-align: right;
    font-size: 18px;
	font-weight: bold;width: 65%;
}

/* Editor box */
.ex-editor-box {
    max-width: 640px;
    min-width: 320px;
    padding: 20px;
}

#dialog-form{
    display:none;
    background-color: #ffffff;
}