.box-warning,.box-body{overflow: hidden;}
.box-warning button.jm_submit{margin-top: 25px;}
/*6/8/14----DieuLinh----admin/expense*/
#jmbalance ul{margin: 0;list-style: none;padding: 0}
#jmbalance ul li{
	line-height: 1.06;
}
#jmbalance ul li#money_out span{color:#eb3d3d ;}
#jmbalance ul li.moneytotal span{color:#75c900;}
#jmbalance ul li span{
	font-weight: normal;
	font-size: 13px;
	color: #606060;
	
	display: inline-block;
}
#jmbalance ul li span.text{width: 40%}
#jmbalance ul li span.number{
	text-align: center;font-size: 18px;
	font-weight: bold;width: 60%;}