.box-warning,.box-body{overflow: hidden;}
.box-warning button.jm_submit{margin-top: 25px;}
/*6/8/14----DieuLinh----admin/expense*/
#jmbalance ul{margin: 0;list-style: none;padding: 0}
#jmbalance ul li{
	line-height: 1.06;
	font-size: 18px;
	font-weight: bold;
	color: #eb3d3d;
}
#jmbalance ul li.moneytotal{color: #2ca9f2;}
#jmbalance ul li span{
	font-weight: normal;
	font-size: 13px;
	color: #606060}