.box-warning,.box-body{overflow: hidden;}
.box-warning button.jm_submit{margin-top: 25px;}
/*6/8/14----DieuLinh----admin/expense*/
#jmbalance ul{margin: 0;list-style: none;padding: 0}
#jmbalance ul li{

}